.navbar {
    background-color: ${props.mode === "dark" ? "#343a40" : "aquamarine"};
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: ${props.mode === "dark" ? "#fff" : "#000"};
    text-decoration: none;
}

.nav-link:hover {
    color: #ffc107;
}

.li {
    text-decoration: none;
}